html
    // font-size: 62.5% now means that 1.0 rem = 10px
    // 10px ÷ 16 = 62.5%
    // chrome minimum font-size is 12px
    font-size: 100px
    width: 100%
    height: 100%

body
    font-family: "Helvetica Neue", Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif
    font-size: 0.14rem
    background: #fff;
    width: 100%
    height: 100%
